.ww {
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
}

.mm {
    height: auto;
}

#marquee {
    width: 200px;
    height: 30px;
    background: #ccc;

    display: flex;
    align-items: center;

    position: relative;
}