{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "3",
        "useBuiltIns": "usage",
        "debug": true,
        "targets": {
          "ios": 8,
          "android": 4,
          "chrome": 58,
          "ie": 8
        }
      }
    ]
    // "@babel/preset-typescript"
  ],
  "plugins": [
    // [
    //   "@babel/plugin-transform-runtime",
    //   {
    //     "absoluteRuntime": false,
    //     "corejs": 3,
    //     "helpers": true,
    //     "regenerator": true,
    //     "version": "7.0.0-beta.0"
    //   }
    // ]
  ]
}
